#home {
    position: relative;
    height: 100%;
    max-height: 600px;
    overflow: hidden;
}

.image-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Permet aux images de s'aligner horizontalement */
    transition: transform 0.5s ease; /* Ajoute une transition pour le défilement */
    z-index: 1; /* Assure que le slider est au-dessus du contenu */
    overflow: hidden;
}

.image-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-content {
    position: absolute;
    top: 50%; /* Centre le contenu verticalement à 50% de la hauteur de la section */
    left: 50%; /* Centre le contenu horizontalement à 50% de la largeur de la section */
    transform: translate(-50%, -50%); /* Recentre le contenu */
    text-align: center;
    color: #fff; /* Assure une bonne visibilité du texte sur les images */
    z-index: 2; /* Assure que le contenu est au-dessus du slider */
}

.home-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.home-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #555;
}

/* Ajoute ces styles pour centrer le .image-slider horizontalement */
body {
    margin: 0;
}

.header-content {
    text-align: center;
    padding: 40px;
    background-color: #333;
    color: #fff;
    width: 100vw;
    margin: 0 auto;
}

.header-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.2em;
}

.header-content nav ul {
    list-style: none;
}

.header-content nav ul li {
    display: inline;
    margin-right: 20px;
}

.header-content nav a {
    color: #fff;
    text-decoration: none;
}

/* Ajoute le reste de ton style ici */

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    margin-bottom: 0px;
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#about {
    margin: auto;
}

